.Square.locked:hover::after {
  opacity: .3;
  content: '\f023';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 180%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: block;
  margin-top: 25px;
  text-align: center;
}

}
.Square.fill-1 {
 background-color: #d0024e;
}
.Square.fill-1.locked {
  background-color: #9E0215;}

.Square.fill-2 {
 background-color: #02d084;
}
.Square.fill-2.locked {
  background-color: #2F619B;
}
