.Square {
  flex: 1;
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  border: 4px solid #eee;
}
.Square.fill-1 {
 background-color: #d0024e;
}

.Square.fill-2 {
 background-color: #02d084;
}
